@model ChangePasswordViewModel

<nav class="cn">
    <a asp-action="Index" asp-controller="Home"><img src="~/images/logo.png" class="logo" /> </a>
    <p class="title">@Context.Session.GetString("name")</p>
    <form method="post">
        <button type="submit" asp-action="Logout" asp-controller="Account" class="btn">Logout</button>
    </form>
</nav>

<form class="containerform" method="post">
    <p class="title">Change Your Password</p>
    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="error small"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="error small"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="error small"></span>
    </div>
    <div class="line">
        <a asp-action="Profile" asp-controller="User" class="btn">Back</a>
        <button type="submit" class="btn">Update</button>
    </div>
</form>