
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

                <nav class="cn">
                    <div>
                        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" class="logo" /> </a>
                    </div>
                    <div></div>
                    <div class="d-flex gap-2">
                        <a asp-controller="Account" asp-action="Login" class="btn">Login</a>
                        <a asp-controller="Account" asp-action="Register" class="btn">Register</a>
                    </div>
                </nav>

               <div class="containerform">
    

                <h3 class="title">Login</h3>

                <form asp-action="Login" method="post" novalidate>

                    <div class="form-group">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger small"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>

                    <div class="line">
                        <a asp-controller="Account" asp-action="Register">
                            Create account
                        </a>

                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>

                </form>
            </div>
@* 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/custom-validation.js"></script>
} *@
