
@model UserProfileViewModel;
@{
    ViewData["Title"] = "Profile";
}

<nav class="cn">
    <a asp-action="Index" asp-controller="Home"><img src="~/images/logo.png" class="logo" /> </a>
    <p class="title">@Model.DisplayName</p>
    <form method="post">
    <button type="submit" asp-action="Logout" asp-controller="Account" class="btn">Logout</button>
    </form>
</nav>


<form method="post" class="containerup">
<div class="upleft">
    <button id="editbtn" type="button" class="btn1" onclick="TriggerEdit()">Edit Profile</button>
    <button  class="btn1">Update Image</button>
    <button asp-action="ChangePassword" asp-controller="Account" class="btn1" formmethod="get">Change Password</button>
</div>

    <div>
        <h1 class="title">USER DATA</h1>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" readonly="readonly" class="form-control text-center"/>
                <span asp-validation-for="FirstName" class="error small" ></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="LastName" class="error small"></span>

            </div>
        

            <div class="form-group">
                <label asp-for="DisplayName"></label>
                <input asp-for="DisplayName" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="DisplayName" class="error small"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender"></label>
            <label id="M" style="display:none">
                    <input type="radio" asp-for="GenderCode" value="1" /> Male
                </label>
            <label class="ms-3" id="F" style="display:none">
                    <input type="radio" asp-for="GenderCode" value="0" /> Female
                </label>
                <input asp-for="Gender" readonly="readonly" class="form-control text-center" id="hiddenGender"/>
                <span asp-validation-for="Gender" class="error small"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <div class="line">
                    <select asp-for="Day" id="ddlDay" class="form-control" style="display:none" ></select>
                    <select asp-for="Month" id="ddlMonth" class="form-control" style="display:none"></select>
                    <select asp-for="Year" id="ddlYear" class="form-control" style="display:none"></select>
                </div>
                 <span id="dobError" class="error small"></span>
                <input asp-for="DateOfBirth" id="hiddenDob" class="form-control text-center" readonly="readonly" />
                <span id="ageError" class="error small"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="Age"></label>
                <input id="txtAge" asp-for="Age" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="Age" class="error small"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="Address" class="error small"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="State"></label>
                <select asp-for="State" id="ddlState" class="form-control" style="display:none">
                    <option value="">-- select state --</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Tamilnadu">Tamilnadu</option>
                    <option value="Karnataka">Karnataka</option>
                </select>
                <input id="hiddenState" asp-for="State" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="State" class="error small"></span>
            </div>

            <div class="form-group">
                <label asp-for="City"></label>
            <select asp-for="City" id="ddlCity" class="form-control" style="display:none">
                    <option value="">-- select state first --</option>
                </select>
                <input id="hiddenCity" asp-for="City" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="City" class="error small"></span>
            </div>
     
            <div class="form-group">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="ZipCode" class="error small"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="Phone" class="error small"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile" readonly="readonly" class="form-control text-center" />
                <span asp-validation-for="Mobile" class="error small"></span>
            </div>

            <div class="line">
                <button id="cancelbtn" type="reset" class="btn1" style="visibility:hidden" onclick="CancelEdit()">Cancel</button>

                <button id="savebtn" type="submit" class="btn1"
                    asp-action="Profile" asp-controller="User" formmethod="post" style="visibility:hidden">Save Changes</button>
            </div>

    </div>

</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/profile.js"></script>
}