@{
    ViewData["Title"] = "Home";
}



<nav class="cn">
    <div>
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" class="logo" /> </a>
    </div>
    <div></div>
    <div class="d-flex gap-2">
        <a asp-controller="Account" asp-action="Login" class="btn">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn">Register</a>
    </div>
</nav>

<div class="d-flex justify-content-center align-items-center h-100">
    <img src="~/images/bgimg.jpg" class="bgimg"/>
</div>